<h2>Edit <%= @course.course_name %></h2>

<%= form_for [@course] do |form| %>
  <%= form.label :course_name %>: <%= form.text_field :course_name %></br></br>
  <%= form.submit :class => "btn" %>
<% end %>
<br>
<br>
<%= button_to "Delete #{@course.course_name}", {:controller => :courses, :action => 'destroy', :id => @course.id }, :method => :delete, :class => "btn" %>

<h2><%= link_to 'View all Courses', courses_path %></h2>
<h2><%= link_to 'View all Students', students_path %></h2>