<h1>New Course</h1>

<%= form_for [@course] do |form| %>
  <%= form.label :course_name %>: <%= form.text_field :course_name %></br>
  <%= form.submit :class => "btn" %>
<% end %>

<h2><%= link_to 'View all Courses', courses_path %></h2>