<h1>New Course</h1>

<div class="contain">
  <%= form_for [@course] do |form| %>
    <%= form.label :course_name %>: <%= form.text_field :course_name %></br>
    <%= form.submit :class => "btn" %>
  <% end %>
</div>

<h4><%= link_to 'View all Courses', courses_path %></h4>