<h1><%= @course.course_name %></h1>

<div class="contain">
<h2>Students</h2>
  <ul>
    <% @course.students.each do |student| %>
    <li><%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id) %></li>
    <% end %>
  </ul>

  <br>
  <br>

  <h2>Add Students to this Course</h2>
   <ul>
     <% @student.each do |student| %>
       <% unless @course.students.include?(student) %>
         <li><%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id) %>  <%= button_to "Add #{student.first_name}", {:controller => :courses, :action => 'add_student', :student_id => student.id }, :method => :put, :class => "btn" %></li> 
         <% end %>
       <% end %>   
     </ul></br>
</div>
<br>
<br>

<% if current_user %>
  <h3 class="center"><%= link_to 'Edit this Course', edit_course_path(@course.id) %></h3>
<% end %>

<div class="footer">
  <div class="foot-link"><%= link_to 'View all Courses', courses_path %></div>
  <div class="foot-link link-right"><%= link_to 'View all Students', students_path %></div>
</div>